<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h1>create new user</h1>
<form th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">
    <table class="table">
        <tr>
            <td>
                <label>username:
                    <input type="text" th:field="*{username}">
                </label>
            </td>
        </tr>
        <tr>
            <td>phone number:
                    <input type="text" th:field="*{phoneNumber}">
                </label>
            </td>

        </tr>
        <tr>
            <td>
                <label>address:
                    <input type="text" th:field="*{address}">
                </label>
            </td>
        </tr>
        <tr>
            <td>category:
                <select th:field="*{category}">
                    <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="create">
            </td>
        </tr>
    </table>




</form>
</body>
</html>